.actionsu{
    display:flex;
    margin-top:20px;
    margin-bottom: 30px;
}
.agregar{background:#5ecad0;}

th, td{
    border:2px solid #222;
    padding:12px;
    text-align:center;
    background:#e7e7e7;
}

table {
    width: 90%;
    border-collapse: collapse;
    background: #e7e7e7;
}

.actionsa{
    display:flex;
    gap:10px;
    justify-content:center;
}

.editar{
    background:#bde48f;
}

.eliminar{
    background:#f29b63;
}

