{% extends "base.html" %}

{% block content %}
<div class="denegado-container">

    <div class="denegado-box">

        <div class="icono">
            🔒
        </div>

        <h1>Acceso denegado</h1>

        <p>
            No cuentas con permisos para acceder
            a este apartado del sistema.
        </p>

        <div class="actionsdene">
            <a href="/dashboard" class="btn volver">
                Volver al inicio
            </a>
        </div>

    </div>

</div>

{% endblock %}