{% extends "base.html" %}

{% block content %}

<div class="formulario">
   <div class="title">Agregar usuario</div>
    <form action="/guardar_usuario" method="POST">
        <div class="campo">
            <label>Nombre del nuevo usuario:</label>
            <input type="text" name="nombre" required>
        </div>

        <div class="campo">
            <label>Usuario:</label>
            <input type="text" name="usuario" id="usuario" required>
        </div>

        <div class="campo">
            <label>Contraseña:</label>
            <input type="password" name="contrasena" id="password" placeholder="••••••••" required>
        </div>

        <div class="campo">
            <label>Rol:</label>
            <select name="id_rol" id="rol_select">
                {% for rol in roles %}
                <option value="{{ rol.id_rol }}"> {{ rol.nombre_rol}}</option>
                {% endfor %}
            </select>
        </div>

        <div class="campo">
            <label>Permisos:</label>
            <div class="privilegios">
                {% for privilegio in privilegios %}
                <label class="check_priv">
                    <input type="checkbox" name="privilegios" value="{{ privilegio.id_privilegio}}"> 
                    <span>{{ privilegio.nombre }}</span>
                </label>
                {% endfor%}
            </div>
        </div>

        <div class="actionsp">
                <button class="btn guardar" style="display:inline;">Guardar usuario</button>
                <a href="/usuarios" class="btn cancelar">Cancelar</a>
        </div>


    </form>
</div>

<!-- SCRIPT -->
<script>

const rol = document.getElementById("rol_select");

const checks = document.querySelectorAll(
    'input[name="privilegios"]'
);

rol.addEventListener("change", function(){

    // SI ES ADMIN
    if(this.value == "1"){

        checks.forEach(check => {

            // SOLO PRIVILEGIO TODOS
            if(check.value == "1"){

                check.checked = true;

            }else{

                check.checked = false;

            }

            check.disabled = true;

        });

    }

    // SI ES EMPLEADO
    else{

        checks.forEach(check => {

            check.disabled = false;
            check.checked = false;

        });

    }

});

// EJECUTAR AL CARGAR
rol.dispatchEvent(new Event("change"));

</script>

{% endblock %}