{% extends "base.html" %}

{% block content %}
<div class="title">Ventas</div>

    <form action="/ventas" method="GET">

        <div class="search-container">
            <button class="btn blue">Buscar producto</button>
            <input type="text" id="buscar" name="buscar" placeholder="Buscar producto por Id o nombre">
            <button class="btn blue" id="btnAgregar">Agregar</button>
        </div>
    </form>
    <div id="resultados">

    {% for producto in productosc %}

        <div class="resultado-item">

            <form action="/agregar_producto_venta"
              method="POST">

                <input type="hidden" name="producto" value="{{ producto[0] }}">

                <button type="submit">
                    {{ producto[1] }}
                    - ${{ producto[2] }}
                </button>

            </form>

        </div>

        {% endfor %}

    </div>

    <!-- FORM OCULTO -->
    <form id="formAgregar" action="/agregar_producto_venta" method="POST" style="display:none;">
        <input type="hidden" name="producto" id="producto_id">
        <input type="hidden" name="cantidad" id="cantidad">
    </form>

    <h3>Productos seleccionados</h3>

    <table>
        <tr>
            <th>Id</th>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Precio $</th>
            <th>Subtotal</th>
            <th>Acciones</th>
        </tr>

        {% for item in carrito %}
        <tr>
            <td>{{ item.id_producto }}</td>
            <td>{{ item.nombre }}</td>
            <td>{{ item.cantidad }}</td>
            <td>$ {{ item.precio }}</td>
            <td><b>$ {{ item.subtotal }}</b></td>
            <td>
                <div class="actionsven">
                    <form action="/eliminar/{{ loop.index0 }}" method="GET">
                        <button class="btn eliminarven">Eliminar</button>
                    </form>
                </div>
            </td>
        </tr>
        {% endfor %}

    </table>

    <div class="total">Total: $ {{ total }}</div>

        <div class="payment">
            <b>Método de pago:</b><br><br>
            <input type="radio" id="efectivo" name="metodo_pago" {% if cambio is defined %} checked {% endif %}>
            <label for="efectivo">Efectivo</label>

            <div class="form-efectivo">

                <form action="/calcular_cambio" method="POST">

                    <input type="hidden" name="total" value="{{ total }}">

                    <input type="number"
                        name="pago"
                        step="0.01"
                        required
                        min="0"
                        placeholder="Cantidad recibida">

                    {% if error %}
                        <div style="color:red;">
                            {{ error }}
                        </div>
                    {% endif %}

                    <button class="btn blue" type="submit">
                        Calcular cambio
                    </button>

                    {% if cambio is defined %}
                        <div class="total">Subtotal: $ {{ total }}</div>
                        <div class="total">
                            Pago: $ {{ pago }}
                        </div>

                        <div class="total">
                            Cambio: $ {{ cambio }}
                        </div>
                    {% endif %}

                </form>

            </div>

        </div>

        <div class="actionsv">
            <form action="/guardar_venta" method="post">
                <input type="hidden" name="total" value="{{ total }}">

                <input type="hidden" name="pago" value="{{ pago if pago is defined else 0}}">

                <input type="hidden" name="cambio" value="{{ cambio if cambio is defined else 0}}">

                <input type="hidden"
                name="metodo_pago"
                value="Efectivo">
                <button class="btn green">
                    Registrar venta
                </button>
            </form>

            <a href="/nueva">
                <button class="btn orange">Cancelar venta</button>
            </a>

        </div>

</div>

{% endblock %}